/*Header*/

#header-nav {
  background-color: #5F676A; 
  border-radius: 0;
  border: 0;
}
#header-nav a {
	color: black;
	font-size: 200%;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#collapsable-nav {
	background-color: #2EFEF7;
}

#nav-list a {
	color: #951C49;
	text-align: center;
}

h1 {
	margin-bottom: 30px;
}
#p1, #p2, #p3 {
	width: 100%;
	height: 500px;
	margin-bottom: 15px;
}
#p1 {
	background-color: #2EFEF7;
}
#p2 {
	background-color: #5858FA;
}
#p3 {
	background-color: #9F81F7;
}
#p1 section, #p2 section, #p3 section{
	text-align: center;
	font-size: 200%;
}

